.flayout-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 90%;
  bottom: -400px;
  border: #ad66d5 solid 3px;
  border-bottom: 0px;
  border-radius: 10px 10px 0px 0px;
  background-color: #7507b4;
  gap: 10px;
  padding: 10px;
  transition: all 0.2s;
}

.flayout-element.active {
  bottom: 0px;
}

.selected-people-list {
  display: flex;
  gap: 10px;
}

.selected-person-item {
  cursor: default;
  border: #48036f solid 2px;
  border-radius: 10px;
  padding: 5px;
  background-color: #9f3ed5;
}

.selected-people-counter {
  position: relative;
  top: 0px;
  left: 0px;
  padding: 10px;
}

.selected-buttons {
  display: flex;
  gap: 10px;
}

.selected-button {
  background-color: #48036f;
  border: #ad66d5 solid 3px;
}
