.header {
  background-color: #ffc573;
  font-size: 2rem;
}

.link-list {
  display: flex;
  justify-content: space-around;
}

.link {
  display: inline-block;
  padding: 5px 15px;
}

.link.active {
  background-color: #215889;
}
