.header {
  background-color: #ffc573;
  font-size: 2rem;
}

.link-list {
  display: flex;
  justify-content: space-around;
}

.link {
  display: inline-block;
  padding: 5px 15px;
  transition:
    color 0.25s,
    background-color 0.25s;
}

.link.active {
  background-color: #215889;
  color: #ffdfb2;
}
