.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.search-form {
  display: flex;
  gap: 10px;
}

.search-button.light,
.search-input.light,
.error-button.light {
  background-color: rgb(146, 8, 238);
}

.search-button.dark,
.search-input.dark,
.error-button.dark {
  background-color: rgb(152, 15, 255);
}
