.person-heading {
  font-size: 2rem;
}

.result {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80%;
  gap: 20px;
}

.person-item {
  outline: 2px #ad66d5 solid;
  border-radius: 10px;
  display: flex;
  align-items: start;
  min-width: 25%;
  overflow: hidden;
  justify-self: stretch;
}

.person-item table {
  width: 100%;
}

.person-field {
  font-weight: bold;
  width: 30%;
}

.person-text {
  font-style: italic;
  word-break: break-all;
}

.person-checkbox {
  margin: 10px;
}
